@import "tailwindcss";

:root {
	--background: 7.0567% -1.76077 -8.04534; /* slate-900 LAB */
	--foreground: 94.7793% 0 0; /* slate-100 LAB */
	--card: 16.1051% -1.18239 -11.7533; /* slate-800 LAB */
	--card-foreground: 94.7793% 0 0; /* slate-100 LAB */
	--popover: 16.1051% -1.18239 -11.7533; /* slate-800 LAB */
	--popover-foreground: 94.7793% 0 0; /* slate-100 LAB */
	--primary: 52.2319% 18.6906 -67.9593; /* blue-600 LAB */
	--primary-foreground: 94.7793% 0 0; /* slate-100 LAB */
	--secondary: 25.292% -0.84523 -9.26927; /* slate-700 LAB */
	--secondary-foreground: 94.7793% 0 0; /* slate-100 LAB */
	--muted: 25.292% -0.84523 -9.26927; /* slate-700 LAB */
	--muted-foreground: 66.766% 0 0; /* slate-400 LAB */
	--accent: 25.292% -0.84523 -9.26927; /* slate-700 LAB */
	--accent-foreground: 94.7793% 0 0; /* slate-100 LAB */
	--destructive: 47.9981% 68.2583 48.1021; /* red-600 LAB */
	--destructive-foreground: 94.7793% 0 0; /* slate-100 LAB */
	--border: 16.1051% -1.18239 -11.7533; /* gray-800 LAB */
	--input: 16.1051% -1.18239 -11.7533; /* gray-800 LAB */
	--ring: 52.2319% 18.6906 -67.9593; /* blue-600 LAB */
	--radius: 0.5rem;
}

* {
	border-color: lab(var(--border));
}

body {
	background-color: lab(var(--background));
	color: lab(var(--foreground));
	min-height: 100vh;
}
