@import "tailwindcss";

@theme {
	--color-background: oklch(0.0898 0.0019 252.37); /* slate-900 */
	--color-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-card: oklch(0.1618 0.0144 249.73); /* slate-800 */
	--color-card-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-popover: oklch(0.1618 0.0144 249.73); /* slate-800 */
	--color-popover-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-primary: oklch(0.5724 0.1983 251.12); /* blue-600 */
	--color-primary-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-secondary: oklch(0.2803 0.0138 249.73); /* slate-700 */
	--color-secondary-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-muted: oklch(0.2803 0.0138 249.73); /* slate-700 */
	--color-muted-foreground: oklch(0.6783 0.0108 249.73); /* slate-400 */
	--color-accent: oklch(0.2803 0.0138 249.73); /* slate-700 */
	--color-accent-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-destructive: oklch(0.6262 0.2178 20.66); /* red-600 */
	--color-destructive-foreground: oklch(0.9843 0.0014 252.37); /* slate-100 */
	--color-border: oklch(0.1618 0.0144 249.73); /* slate-800 */
	--color-input: oklch(0.1618 0.0144 249.73); /* slate-800 */
	--color-ring: oklch(0.5724 0.1983 251.12); /* blue-600 */
	--color-ring-offset: oklch(0.0898 0.0019 252.37); /* slate-900 - same as background */
	--radius: 0.5rem;
}

@layer base {
	* {
		border-color: var(--color-border);
	}

	body {
		color: var(--color-foreground);
		min-height: 100vh;
	}
}
